@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&family=Outfit:wght@900&display=swap");

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Outfit', sans-serif; */

/* removes browser default padding/margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.container {
  margin: 30px auto;
  padding: 0 30px;
}

.grid {
  display: grid;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  max-width: 700px;
  grid-template-columns: 1fr 1fr; /*divides into column fractions*/
}
.img img {
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
